*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.top{
    background-color: rgb(236, 64, 1);
    
}
.top h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    color: white;
}

.form_box{
    width: 350px;
    position: relative;
    left: 33em;
    margin-top: 3em;
    
}

.form_box{
    box-shadow: 2px 2px 10px 2px gainsboro;
    padding: 20px;
    border-radius: 5px;

}

.form_box img{
    height: 60px;
    width: 70px;
    position: relative;
    left: 7em;
    top: -3em;
}

.form_box h3{
    position: relative;
    top: -2em;
    left: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

hr{
    top: -1em;
    left: 1.3em;
    position: relative;
    width: 260px;
}

form input:not([type="checkbox"]){
    margin: 10px;
    width: 300px;
    outline: none;
    padding: 13px;
    border: 1px solid rgba(80, 80, 79, 0.329);
    
    box-shadow: 4px 2px 7px gainsboro;
}
span{
    position: relative;
    left: 30px;
    font-weight:bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
form input[type="checkbox"]{
    border: none;
  outline: none;
    transform: scale(2);
    position: relative;
    left: 20px;
}
.input-box {
  position: relative;
  width: 350px;
  margin-bottom: 20px;
}
.input_box i{
  position: absolute;
 left: 40px;
 
  color: #1e90ff;
  font-size: 20px;
}

.input_box #one{
    position: relative;
    top: 40px;
    left: 20px;
}
.input_box #eye{
    position: relative;
    top: -40px;
    left: 13em;
    cursor: pointer;
}
form ::placeholder{
    position: relative;
    left: 40px;
}

form input[type="button"]{
    position: relative;
    top: 10px;
    background-color: #1e90ff;
    color:white;
    border: none;
    border-radius: 20px;
}
footer small{
    position: relative;
     top: 2em;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    color: white;
    text-align: center;
    height: 60px;
    top: 2.7em;
    position: relative;
    background-color: #1e90ff;
}